* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainclr: #3FA652;
    --secondclr: #F9F8F8;
    --blackclr: #000;
    --whiteclr: #fff;

    --headerfont: 'Audiowide', cursive, 'open sans', 'Helvetica Neue';
    --typefont:'Montserrat', sans-serif, 'open sans';
}

body {
    background-color: var(--whiteclr);
    font-family: var(--typefont);
    min-width: 300px;
    font-size: 14px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--headerfont);
    font-weight: normal;
}

h1 {
    font-size: 25px;
}

p,
li {
    line-height: 150%;
    letter-spacing: 0.05em;
}



/* Mobile */

/* Header Section */


.topnav {
    display: none; 
}

#hamburger-menu     {
    display: none; 
}

#hamburger-menu:checked ~ nav {
    display: block;  
}

label[for=hamburger-menu] { 
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}


.topnav ul {
    position: absolute;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}

.topnav li {
    list-style-type: none;
}


.topnav a {
    text-decoration: none;
    text-transform: capitalize;
    color: var(--mainclr);
    font-size: 1.5em;
    padding: 20px 60px 20px 10px;
    display: block;
}

.topnav a:hover {
    background-color: var(--mainclr);
    color: var(--blackclr);
    opacity: 0.8;
    box-shadow: 0px 0px 15px var(--mainclr);}



/* Index Page */

 .index{
    background-image: url(../media/img/robot-small.jpg);
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    background-attachment: fixed;
}

.index main {
    padding: 350px 0 100px;
    background: linear-gradient(to top, black, transparent);

}

.index header {
    background: var(--blackclr); /* Fallback for old browsers */
    background: linear-gradient(black, transparent);
    height: 100px;
}

.index_content {
    margin-left: 40px;
    height: 100%;
}

.index_content h1 {
    color: var(--secondclr);
    text-transform: capitalize;
    text-shadow: 0px 0px 20px #FFFFFF;
}

.index_content h2 {
    color: var(--mainclr);
    text-transform: uppercase;
    font-size: 30px;
}

.index_content p {
    color: var(--secondclr);
    max-width: 450px;
    margin: 0 10px;
    text-shadow: 0px 0px 5px #000;
}

.index_content h2,
.index_content p {
    margin-left: 20px;
}


#btn-index {
    background-color: var(--mainclr);
    color: var(--secondclr);
    border: 1px solid var(--mainclr);
    width: 120px;
    padding: 10px 0;
    text-decoration: none;
    text-transform: capitalize;
    margin: 50px auto 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 0px 10px var(--mainclr);
}

#btn-index:hover {
    background-color: transparent;
    box-shadow: 0px 0px 20px var(--mainclr);
}

/* Explore Page */

.explore header {
    background-color: var(--blackclr);
}

.hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.8),rgba(0, 0, 0, 0.8)), url(../media/img/hero-explore-small.jpg);
    background-size: cover;
    background-position: top right;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);

}

.hero h1 {
    color: var(--mainclr);
    padding: 150px 0 30px;
}

.hero p {
    color: white;
}

.hero p:last-of-type {
    padding: 5px 0 100px;
}

.hero > * {
    margin: 0 10px;
}

.cards {
    margin: 40px 5px 10px;
    position: relative;
}

.cards h2 {
    font-size: 25px;
}

.cards h2::after {
    content: '';
    position: absolute;
    left: 0;
    top: 32px;
    height: 2px;
    width: 50%;
    background: var(--mainclr);
}




/* Footer */

 footer {
    background-image: linear-gradient(
         -5deg, green, black 5%);

    text-align: center;
    color: var(--secondclr);
    text-transform: capitalize;
    margin: -1px 0;
}

footer hr {
    width: 60%;
    margin: 0 auto;
    border: none;
    height: 0.5px;
    background-color: var(--secondclr);
}

.fab {
    font-size: 25px;
    padding: 0 10px;
} 

footer div {
    padding: 50px 0;

}

footer div p:first-of-type {
    font-size: 18px;
    padding-bottom: 10px;
}

.footer-nav a {
    color: var(--secondclr);
    text-decoration: none;
}

.footer-nav {
    margin-bottom: 30px;
}

.footer-nav li {
    padding: 10px 0;
    font-size: 18px;
}



@media screen and (min-width: 700px) {
    
/* Header section */

    .logo {
        position: absolute;
        left: 10%;
    }

    header {
        display: flex;
        flex-direction: row;
    }

    label[for=hamburger-menu] {
        display: none;
    }

    .topnav {
        display: inline-block;
    }

    .topnav ul {
        border: none;
        background-color: transparent;
        margin: 30px 10% 0 0
    }

    .topnav li {
        display: inline-block;
    }

    .topnav a:hover {
        background-color: transparent;
        color: var(--secondclr);
    }

    .topnav a {
        font-size: 1.2em;
        padding: 0;
        margin: 10px;
    }

/* Footer Section */

    footer {
        /* display: flex; */
    }

/* Index Page */

    .index {
        background-image: url(../media/img/robot.jpg);
        background-position: top left;
    }

    .index main {
        padding: 200px 0 100px;
    }

    #btn-index {
        margin: 50px 0 50px 10%;
    }



}


