* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --mainclr: #3FA652;
    --secondclr: #F9F8F8;
    --blackclr: #000;
    --whiteclr: #fff;

    --headerfont: 'audiowide',Montserrat, 'Helvetica';
    --typefont:'Montserrat', sans-serif, 'open sans';
}

body {
    background-color: var(--whiteclr);
    font-family: var(--typefont);
    min-width: 300px;
    font-size: 0.85rem;
}

.max-width {
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding: 0 10px;
}

img {
    max-width: 100%;
}

h1,
h2,
h3 {
    font-family: var(--headerfont);
    font-weight: normal;
}

h1 {
    font-size: 1.8rem;
}

p,
li {
    line-height: 150%;
    letter-spacing: 0.05em;
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}




/* Mobile */

/* Header Section */

header,
footer {
    background: black;
}

.topnav {
    display: none; 
}

#hamburger-menu     {
    display: none; 
}

#hamburger-menu:checked ~ nav {
    display: block;  
}

label[for=hamburger-menu] { 
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}


.topnav ul {
    position: absolute;
    right: 10px;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    overflow: hidden;
    z-index: 100;
}


.topnav a {
    text-transform: capitalize;
    color: var(--mainclr);
    font-size: 1.5rem;
    padding: 20px 60px 20px 10px;
    display: block;
}

.topnav a:hover {
    background-color: var(--mainclr);
    color: var(--blackclr);
    opacity: 0.8;
    box-shadow: 0px 0px 15px var(--mainclr);
}

/* Hero Section */

.hero {
    background-size: cover;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 100%);
}

.hero h1 {
    color: var(--mainclr);
    padding: 150px 0 30px;
}

.hero p {
    color: white;
    max-width: 470px;
}

.hero p:last-of-type {
    padding: 5px 0 100px;
}


/* Index Page */

.index{
    background: url(../media/img/robot.jpg) no-repeat fixed 50% 20%;
    background-size: cover;

}

.index main {
    padding: 350px 0 100px;
    position: relative;
}

.index header {
    height: 100px;
}

.index .content-container {
    background: linear-gradient(to top, 
    green -5%, black 3%, black 60%, transparent 95%, black 100%);
}

.index_content {
    margin-left: 10px;
    height: 100%;
}

.index_content h1 {
    color: var(--secondclr);
    text-transform: capitalize;
    text-shadow: 0px 0px 20px #FFFFFF;
    font-size: 1.5rem;
}

.index_content h2 {
    color: var(--mainclr);
    text-transform: uppercase;
    font-size: 2rem;
    letter-spacing: 0.18rem;
}

.index_content p {
    color: var(--secondclr);
    max-width: 450px;
    margin: 10px 0;
    text-shadow: 0px 0px 5px #000;
}


#btn-index {
    background-color: var(--mainclr);
    color: var(--secondclr);
    border: 1px solid var(--mainclr);
    padding: 10px 20px;
    text-transform: capitalize;
    box-shadow: 0px 0px 10px var(--mainclr);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    letter-spacing: 0.1rem;
}

#btn-index:hover {
    background-color: transparent;
    box-shadow: 0px 0px 20px var(--mainclr);
}

/* Explore Page */

.explore .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../media/img/hero-explore.jpg);
    background-position: top right;
}

.cards,
.exhibits {
    margin-top: 40px;
}

.cards h2,
.exhibits h2 {
    font-size: 1.8rem;
}

.cards h3,
.exhibits h3 {
    font-size: 1.5rem;
    padding: 10px 0;
    max-width: 250px;
}

.cards > div,
.exhibits > div {
    position: relative;
    margin-top: 40px;
}

.date {
    background: var(--blackclr);
    color: var(--secondclr);
    width: 3.5em;
    height: 4em;
    display: grid;
    place-content: center;
    text-align: center;
    font-size: 1rem;
    position: absolute;
    top: -5%;
    right: 10px;
}

.backdrop:after,
.backdrop::before {
    content: '';
    position: absolute;
    background: var(--mainclr);
}

.backdrop::after{
    height: 2px;
    width: 100%;
    bottom: -2px;
    left: 2px;
}

.backdrop::before{
    height: 100%;
    width: 2px;
    right: -2px;
    top: 2px;
}

.exhibits {
    margin-top: 50px;
}

.exhibits .backdrop {
    background: var(--blackclr);
    color: var(--secondclr);
    padding: 5px 10px;
    margin-top: 20px;
    display: inline-block;
    position: relative;
    font-size: 1rem;
}

#cta-view-all {
    background-color: var(--mainclr);
    color: var(--secondclr);
    border: 1px solid var(--mainclr);
    width: 8em;
    padding: 5px 0;
    margin: 70px auto;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
}

/* Visit Page */

.visit .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../media/img/hero-visit-small.jpg);
    background-position: top left;
}

.info-card {
    background: var(--blackclr);
    color: var(--secondclr);
    margin: 50px 10px;
    padding: 20px 15px;
    position: relative;
}

.info-card ul {
    padding: 15px 0;
}

.info-card h2 {
    font-size: 1.5rem;
}

.info-card p {
    padding-top: 15px;
}

.info-card a {
    color: var(--mainclr);
    text-decoration: none;
}

.info-card a:hover {
    text-decoration: underline;
}

.visit .backdrop::after {
    height: 4px;
    bottom: -4px;
    left:  4px;
}

.visit .backdrop::before {
    width: 4px;
    right: -4px;
    top: 4px;
}

.cards p {
    margin: 20px 0;
}

.visit main {
    margin-bottom: 100px;
}

/* Exhibitions Page */

.exhibitions-page .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../media/img/hero-exhibitions-small.jpg);
    background-position: top left;
}

.exhibitions-page .exhibits > div {
    margin-bottom: 70px;
}

.exhibits a {
    color: black;
}

/* Get Involved Page */

.get-involved header {
    position: relative;
}

.get-involved header::after {
    content: '';
    position: absolute;
    background-color: var(--mainclr);
    height: 20px;
    width: 100%;
    bottom: -5px;
    left: 0;
    transform: rotate(-1deg);
    z-index: -1;
}

.get-involved h1 {
    margin: 30px 0 20px 10px;
    color: var(--blackclr);
    padding: 0;
}

.get-involved .hero p {
    color: var(--blackclr);
    padding: 0;
    margin-bottom: 50px;
}

.get-involved .hero {
    clip-path: none;
}

.get-involved .cards > div {
    margin-bottom: 50px;
}

/* Cosmology Exhibition Page */

.cosmology .hero {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6),rgba(0, 0, 0, 0.6)), url(../media/img/cosmology-thumbnail.jpg);
    clip-path: none;
    position: relative;
}

.cosmology .hero h1 {
    color: var(--secondclr);
    padding-bottom: 0;
    font-size: 1.2rem;
}

.cosmology .hero p {
    padding-bottom: 150px;
}

.cosmology .hero h2 {
    color: var(--mainclr);
    font-size: 2rem;
}

.cosmology .info-card {
    position: absolute;
    bottom: -100px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    margin: 0;
    padding: 0 10px;
    border: 1px solid var(--mainclr);
}

.cosmology .info-card li {
    padding: 5px 0;
}

.cosmology h3 {
    font-size: 1.4rem;
    margin: 90px 10px 20px;
}

.exhibit-img {
    margin-bottom: 30px;
}

.exhibit-img > * {
    max-height: 300px;
    width: 100%;
    object-fit: cover;
    object-position: center;
    margin: 5px 0;
}

/* Footer */

footer {
    text-align: center;
    color: var(--secondclr);
    text-transform: capitalize;
    padding: 40px 0;
}

footer hr {
    width: 60%;
    margin: 0 auto;
    border: none;
    height: 0.5px;
    background-color: var(--secondclr);
}

.fab {
    font-size: 1.5rem;
    padding: 0 15px;
} 

footer div {
    padding: 50px 0;

}

footer div p:first-of-type {
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.footer-nav a {
    color: var(--secondclr);
}

.footer-nav li {
    font-size: 1rem;
}

.footer-nav li:first-of-type {
    padding-top: 0;
}


/* Desktop */

@media (min-width: 700px) {

    /* Header Section */

    header {
        position: relative;
    }
    
    .topnav {
        display: block; 
    }

    .topnav a {
        padding: 0;
        margin: 20px;
    }

    .topnav li {
        display: inline-block;
    }

    .topnav a:hover {
        background: none;
        color: var(--mainclr);
        box-shadow: none;
        opacity: 1;
    }

    .topnav li:hover {
        color: var(--secondclr);
    }

    .topnav a {
        position: relative;
        font-size: 1rem;
    }

    .topnav a::after {
        content: '';
        width: 100%;
        height: 1px;
        left: 0;
        bottom: -2px;
        background: var(--mainclr);
        position: absolute;

        transform: scaleX(0);
        transform-origin: right;
        transition: transform 200ms ease-in;
    }

    .topnav a:hover::after {
        transform: scaleX(1);
        transform-origin: left;
    }

    .topnav ul {
        background: none;
        position: absolute;
        right: 0;
        top: 10px;
    }

    #logo {
        position: absolute;
        left: 0;
    }
    
    #hamburger-menu {
        display: none; 
    }
    
    label[for=hamburger-menu] { 
        display: none;
    }

}


@media (min-width:1000px) {
    
    /* Footer Section */

    footer {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: left;
    }

    footer hr {
        display: none;
    }

    .footer-nav li,
    footer li {
        font-size: 0.85rem;
        padding: 2px 0;
    }

    .fab {
        padding-left: 0;
    }


    /* Index Page */

    .index .content-container {
        background: linear-gradient(to top, 
        green -5%, black 3%, black 40%, transparent 90%, black 100%);
    }

    #btn-index {
        left: 55px;
        bottom: 0px;
    }

    .index main {
        padding-top: 200px;
    }

    .index_content {
        margin-left: 0;
    }

    /* Explore Page */

    .cards img {
        max-width: 400px;
    }

}